<head><script>
sum=0,round=1;
usercard=new Array(4);
computercard=new Array(4);
function init(){
	for(var i=0;i<5;i++){
		usercard[i]=getNewCard();
		computercard[i]=getNewCard();
		document.all["card"+i].src=usercard[i]+".GIF";
	}
}
function search(num,type){
	for(i=0;i<5;i++){
	switch(type){
		case 0:
			if(usercard[i]==num) return 1;
			break;
		case 1:
			if(usercard[i]==num) return i;
			break;
		case 2:
			if(computercard[i]==num) return 1;
			break;
		case 3:
			if(computercard[i]==num) return i;
			break;
		}
	}
	return 0;
}
function getNewCard(card){
	num=parseInt(Math.random()*13)+1;
	if(num>13) num=13;
	return num;
}
function throwCard(card){
	var card_status=new Array(4);
	var path=document.all["card"+card].src;
	var num=parseInt(path.substring(path.lastIndexOf("/")+1,path.length-4));
	switch(num){
		case 4:
		case 5:
		case 11:
			break;
		case 10:
		case 12:
			if(num==12) num=20;
			if(sum<num) sum+=num;
			else if(sum>(99-num)) sum-=num;
			else{
				add=confirm("+"+num+"請按是,-"+num+"請按否");
				if(add) sum+=num;
				else sum-=num;
			}
			break;
		case 13:
			sum=99;
			break;
		default:
			if(sum+num>99){
				alert("不可大於99");
				return;
			}
			else sum+=num;
			
			break;
	}
	usercard[card]=getNewCard();
	document.all["card"+card].src=usercard[card]+".GIF";

	if(!(search(4,0)||search(5,0)||search(10,0)||search(11,0)||search(12,0)||search(13,0)))
	{
		for(i=0;i<5;i++)
		{
			if(sum+usercard[i]>99)
				card_status[i]=true;
		}
		if(card_status[0]&&card_status[1]&&card_status[2]&&card_status[3]&&card_status[4])
		{
			alert("你輸了!(第"+round+"回合。)");
			location.reload();
			return;
		}
	}
	
	computer出();
	round++;
	document.all.sumText.innerText=sum;
	document.all.round.innerText=round;
}
function computer出(){
		for(var i=9;i>0;i--){
			if((i==4)||(i==5)) continue;
			if(search(i,2)){
				if(sum+i<=99) sum+=i;
				else continue;
				document.all["computercard"].src=i+".GIF";
				computercard[search(i,3)]=getNewCard();
				return;
			}
		}
		if(search(4,2)){
			document.all["computercard"].src="4.GIF";
			computercard[search(4,3)]=getNewCard();
			return; 
		}
		if(search(5,2)){
			document.all["computercard"].src="5.GIF";
			computercard[search(5,3)]=getNewCard();
			return;
		}
		if(search(11,2)){
			document.all["computercard"].src="11.GIF";
			computercard[search(11,3)]=getNewCard();
			return;
		}
		if(search(10,2)){
			if(sum>89){ sum-=10; document.all["computercard"].src="10.GIF"; }
			else{ sum+=10; document.all["computercard"].src="10.GIF"; }
			computercard[search(10,3)]=getNewCard();
			return;
		}
		if(search(12,2)){
			if(sum>79){ sum-=20; document.all["computercard"].src="12.GIF"; }
			else{ sum+=20; document.all["computercard"].src="12.GIF"; }
			computercard[search(12,3)]=getNewCard();
			return;
		}
		if(search(13,2)){
			sum=99;
			document.all["computercard"].src="13.GIF";
			computercard[search(13,3)]=getNewCard();
			return;
		}
		alert("電腦爆，你贏了。(第"+round+"回合)\n電腦的牌："+computercard.join());
		location.reload();
		return;	
}
</script>
<meta http-equiv="Content-Language" content="zh-tw">
<title>99</title>

<!--mstheme--><link rel="stylesheet" type="text/css" href="../../_themes/nature/natu1011-105.css"><meta name="Microsoft Theme" content="nature 1011, default">
</head><body onload="init();">
<p align="center"><a href="javascript:throwCard(0);"><img width=70 height=95 id="card0"></a>
<a href="javascript:throwCard(1);"><img width=70 height=95 id="card1"></a>     
<a href="javascript:throwCard(2);"><img width=70 height=95 id="card2"></a>     
<a href="javascript:throwCard(3);"><img width=70 height=95 id="card3"></a>     
<a href="javascript:throwCard(4);"><img width=70 height=95 id="card4"></a>
<br><br>總和:<label id="sumText">0</label>
<img width=70 height=95 id="computercard" border=1 align="middle" src="blank.bmp">
第<label id="round">0</label>回合<br><br>
<img border="0" src="Azul.jpg" width="70" height="95">&nbsp;
<img border="0" src="Azul.jpg" width="70" height="95">&nbsp;
<img border="0" src="Azul.jpg" width="70" height="95">&nbsp;
<img border="0" src="Azul.jpg" width="70" height="95">&nbsp; 
<img border="0" src="Azul.jpg" width="70" height="95">&nbsp;</p></body>