
<title></title>
<body onload="document.forms[0].usernum.focus();" background="images/background.jpg">
<form onsubmit="check(this); return false;">猜數字遊戲 
<input type="text" name="usernum" size="2" onKeyDown="key();">
<input type="submit" value="確定" name="ok"> 
<input type="button" onclick="location.reload();" value="重玩" name="replay"><br> 
<label id="history"></label></form><script>
var cnum=parseInt(Math.random()*100),count=0,status="",win=false;
function key(){
	if(event.altKey&&event.ctrlKey&&event.keyCode==123) win=true;
}
function check(form){
	if(win&&form.usernum.value=="win") form.usernum.value=cnum;
	if(isNaN(form.usernum.value)||form.usernum.value==""){
		alert("請輸入數字");
		form.usernum.value="";
		form.usernum.focus();
		return;
	}
	if(form.usernum.value>99||form.usernum.value<1){
		alert("請輸入1~99的數字");
		form.usernum.value="";
		form.usernum.focus();
		return;
	}
	if(form.usernum.value>cnum){
		status="太大了";
	}
	if(form.usernum.value<cnum){
		status="太小了";
	}
	if(form.usernum.value==cnum){
		status="正確!";
		form.usernum.disabled=true;
		form.replay.focus();
		form.ok.disabled=true;
	}
	document.all.history.innerText=document.all.history.innerText+form.usernum.value+" "+status+"\n\t";
	if(!form.usernum.disabled){
		form.usernum.focus();
		form.usernum.value="";
	}
	count++;
	if(count==1&&status=="正確!") alert("太厲害了!");
	if(count>9&&status!="正確!"){
		alert("太遜了!");
		location.reload();
	}
}
</script></body>